RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /var/www/rutor/.htpasswd
Require valid-user
