RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /etc/apache2/.htpasswd
Require valid-user
